<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="title" (click)="onTitleClick()">XWS Publications</span>

        <!-- REGISTERED USER -->

        <ng-template [ngIf]="isUserLoggedIn()" [ngIfElse]="nonRegisteredUser">
            <span class="spacer"></span>
            
            <!-- EDITOR -->
            <div *ngIf="isEditorLoggedIn()">
                <button mat-button (click)="onClickBusinessProcesses()">
                    <span>Processes</span>
                </button>
            </div>

            <!-- AUTHOR -->
            <div *ngIf="isAuthorLoggedIn()">
                
            </div>

            <!-- REGISTERED USER -->
            <button id="user-menu-btn" mat-button [matMenuTriggerFor]="userMenu">
                <span class="btnText">{{ getUsername() }}</span>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>

            <mat-menu #userMenu="matMenu">
                <button mat-menu-item (click)="onClickMyPublications()">
                    <mat-icon>library_books</mat-icon>
                    <span>My publications</span>
                </button>

                <button mat-menu-item (click)="onClickMyReviewRequests()">
                    <mat-icon>note_add</mat-icon>
                    <span>My review requests</span>
                </button>

                <button mat-menu-item (click)="onClickLogout()">
                    <mat-icon>input</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </ng-template>
        
        <!-- NON REGISTERED USER -->

        <ng-template #nonRegisteredUser>
            <span class="spacer"></span>

            <button id="toolbar-registration-btn" mat-button class="button" (click)="onClickRegister()">
                Register
            </button>

            <button id="toolbar-login-btn" mat-raised-button class="button" (click)="onClickLogin()">
                Login
            </button>
        </ng-template>
    </mat-toolbar-row>
</mat-toolbar>