.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.buttons a {
    margin-left: 5px;
}