<div class="container">
    <h1>TODO: implementirati ovo do kraja</h1>


    <h3>Reviewer recommendation</h3>
    
    <h4>Possible reviewers:</h4>
    <ol>
        <li *ngFor="let reviewer of possibleReviewers">
            <div>
                <button mat-button (click)="addReviewerToList(reviewer.id)">
                    <mat-icon>add</mat-icon>
                </button>
                
                <strong>Score: </strong>{{reviewer.score}}, <strong>Author: </strong>{{reviewer.name}}
            </div>
        </li>
    </ol>

    <h4>You have choosen these reviewers:</h4>
    <ol>
        <li *ngFor="let reviewer of choosenReviewers">
            <button mat-button (click)="removeReviewerFromList(reviewer.id)">
                <mat-icon>remove</mat-icon>
            </button>
            
            <strong>Score: </strong>{{reviewer.score}}, <strong>Author: </strong>{{reviewer.name}}
        </li>
    </ol>
    
    <button mat-raised-button color="primary" (click)="addReviewersToProcess()">
        <mat-icon>add</mat-icon>
        <span>Add reviewers</span>
    </button>

</div>