<div class="container">

    <div class="header">
        <h1 id = "title">Business processes</h1>
    </div>

    <!-- TODO -->
    <!-- TODO -->
    <!-- TODO: U OVU TABELU TREBA UBACITI REALNE PODATKE KADA SE SREDI DTO ZA POSLOVNI PROCES -->

    <table class="table" id="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Publication</th>
                <th>Cover letter</th>
                <th>Phase</th>
                <th>Status</th>
                <th>See more</th>
                <th>Accept/Decline</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let process of processes">
                <td>{{process.publicationTitle}}</td>
                <td>
                    <a target="_blank" rel="noopener noreferrer" href="{{process.publicationPdfFilePath}}">PDF</a>&nbsp;
                    <a target="_blank" rel="noopener noreferrer" href="{{process.publicationHtmlFilePath}}">HTML</a>
                </td>
                <td>
                    <a target="_blank" rel="noopener noreferrer" href="{{process.coverLetterPdfFilePath}}">PDF</a>&nbsp;
                    <a target="_blank" rel="noopener noreferrer" href="{{process.coverLetterHtmlFilePath}}">HTML</a>
                </td>
                <td>{{process.processPhase}}</td>
                <td>{{process.publicationStatus}}</td>

                <td>
                    <button *ngIf="process.publicationStatus == 'UProcesu'" mat-button (click)="onClickSeeMore(process.id)">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <div *ngIf="process.publicationStatus != 'UProcesu'">
                        /
                    </div>
                </td>
                <td>
                    <div *ngIf="process.publicationStatus == 'UProcesu'">
                        <button mat-button (click)=onClickAcceptPublication(process.id)>
                            <mat-icon>check_circle</mat-icon>
                            <span>Accept</span>
                        </button>

                        <button mat-button (click)="onClickDeclinePublication(process.id)">
                            <mat-icon>cancel</mat-icon>
                            <span>Decline</span>
                        </button>
                    </div>
                    <div *ngIf="process.publicationStatus != 'UProcesu'">
                        No actions
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>