<div class="container">

    <div class="header">
        <h1 id = "title">My publications</h1>

        <button mat-raised-button color="primary" (click)="onClickAddNewPublication()" class="add-new-pub">
            <mat-icon>add</mat-icon>
            <span>Add new</span>
        </button>
    </div>

    <table class="table" id = "table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Publication</th>
                <th>Cover letter</th>
                <th>Metadata</th>
                <th>Delete</th>
                <th>Revise</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let publication of publications">
                <td>{{publication.title}}</td>
                <td>
                    <a target="_blank" rel="noopener noreferrer" href="{{publication.xmlFilePath}}">XML</a>&nbsp;
                    <a target="_blank" rel="noopener noreferrer" href="{{publication.htmlFilePath}}">HTML</a>&nbsp;
                    <a target="_blank" rel="noopener noreferrer" href="{{publication.pdfFilePath}}">PDF</a>
                </td>
                <td>
                    <a target="_blank" rel="noopener noreferrer" href="{{publication.process.coverLetterPdfFilePath}}">PDF</a>&nbsp;
                    <a target="_blank" rel="noopener noreferrer" href="{{publication.process.coverLetterHtmlFilePath}}">HTML</a>
                </td>

                <td>
                    <a target="_blank" rel="noopener noreferrer" href="{{publication.metadataJsonPath}}">JSON</a>&nbsp;
                    <a target="_blank" rel="noopener noreferrer" href="{{publication.metadataRdfPath}}">RDF/XML</a>
                </td>

                <td>
                    <button *ngIf="!publication.deleted" mat-button (click)="onDeletePublication(publication.id)">
                        <mat-icon>cancel</mat-icon>
                    </button>

                    <span *ngIf="publication.deleted">
                        Deleted
                    </span>
                </td>
                <td>
                  <button *ngIf="publication.process.processPhase == 'ZaReviziju' && !publication.deleted" mat-button (click)="onPublicationRevision(publication.id)">
                    <mat-icon>publish</mat-icon>
                  </button>

                  <span *ngIf="publication.process.processPhase != 'ZaReviziju' || publication.deleted">
                      No action
                  </span>
                </td>
            </tr>
        </tbody>
    </table>

</div>
